/************************
 * Form Styles
 ************************/

//// normal button
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
	a.button,
	button.button,
	input.button,
	#respond input#submit {	
		text-transform: uppercase;
		@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
		@include button-variant( $btn-default-color, $btn-default-bg, $btn-default-border);
		font-weight: 600;
		&.alt {
		 	@include button-variant( $btn-default-color, $btn-default-bg, $btn-default-border);
		}
	}
.woocommerce{
	&.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
	a.button,
	button.button,
	input.button,
	#respond input#submit {	
		text-transform: uppercase;
		@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
		@include button-variant( $btn-default-color, $btn-default-bg, $btn-default-border);
		font-weight: 500;
		&.alt {
		 	@include button-variant( $btn-default-color, $btn-default-bg, $btn-default-border);
		}
	}
}

/**
 * Input Form Styles
 */
//// input and textarea. styles extended from bootstrap form
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text, .woocommerce form .form-row textarea,  
.woocommerce select, .woocommerce-cart table.cart input.input-text {
	width: auto;
    padding: 5px 10px;
	font-size: $font-size-base - 1;
	line-height: $line-height-base!important;
	color: $input-color;
	//@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

	// Customize the `:focus` state to imitate native WebKit styles.
	@include form-control-focus;

	// Placeholder
	@include placeholder;

	// Disabled and read-only inputs
	//
	// HTML5 says that controls under a fieldset > legend:first-child won't be
	// disabled if the fieldset is disabled. Due to implementation difficulty, we
	// don't honor that edge case; we style them as disabled anyway.
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		background-color: $input-bg-disabled;
		opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
	}

	&[disabled],
	fieldset[disabled] & {
		cursor: $cursor-disabled;
	}
}
.woocommerce form .form-row textarea{
   min-height: 100px;
   width: 100%!important;	
}

.woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, 
.woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, 
.woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, 
.woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, 
.woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input{
    width: auto!important;
}
.woocommerce-cart table.cart input{
   line-height: 1.42857;
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
        width: auto !important;
    }
    @media (max-width: $screen-phone){
        width: auto !important;
    }
}

.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: auto!important;
    padding: 7px ;
    border-radius: 3px;
}

.woocommerce form .form-row.woocommerce-validated .select2-container, 
.woocommerce form .form-row.woocommerce-validated input.input-text, 
.woocommerce form .form-row.woocommerce-validated select {
    border-color: $theme-color;
}

.woocommerce .quantity .qty {
    @include rtl-margin-right(7px);
    border: 1px solid $border-color;
    width: 70px;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
    @media screen and (max-width: $screen-xs-min) {
        float: none!important;
        width: auto!important;
    }
}
.select2-container .select2-choice {
    padding: 4px !important;
    border-radius: 0px !important;
}

.woocommerce div.product p.price del, .woocommerce div.product span.price del {
	 @include opacity(0.5);
}

